body {
    font-family: 'Reddit Sans', sans-serif;
    background: url('/static/background.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    margin: 40px auto; /* Espacio alrededor del logo */
    fill: #fff;
    color: #fff;
}

.titulo {
    font-size: 50px; /* Tamaño del título */
    margin: 80px 50px 30px 50px; /* Espacio superior e inferior */
    font-weight: 400; /* Ajusta el peso de la fuente según sea necesario */
    line-height: 1.1; /* Ajusta este valor para cambiar la separación vertical */
}

.subtitulo {
    font-size: 20px; /* Tamaño del subtítulo */
    margin: 0px 50px 60px 50px; /* Espacio superior e inferior */
    font-weight: 300; /* Ajusta el peso de la fuente según sea necesario */
    line-height: 1.1; /* Ajusta este valor para cambiar la separación vertical */
}

.footer {
    font-size: 18px; /* Tamaño del pie de página */
    margin: 155px 0px 0px 0px; /* Espacio superior e inferior */
    font-weight: 300; /* Ajusta el peso de la fuente según sea necesario */
    line-height: 1.1; /* Ajusta este valor para cambiar la separación vertical */
}

.lexend {
    font-family: 'Lexend', sans-serif;
}

.noto-serif {
    font-family: 'Noto Serif', serif;
}

.italic {
    font-style: italic;
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-group {
    display: flex;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: solid 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

input[type="text"] {
    flex: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    border-radius: 20px;
}

input[type="text"]::placeholder {
    color: #ccc;
    font-weight: 200;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px; /* Asegura que el padding es suficiente para centrar verticalmente */
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1b1b1b;
}

button .material-symbols-outlined {
    margin-left: 8px; /* Espacio entre el texto y el icono */
    font-size: 24px; /* Tamaño del icono */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.transcript-container {
    position: relative;
    margin-top: 100px;
    padding: 40px;
    background-color: #0E101F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.transcript-container-summary {
    position: relative;
    margin-top: 100px;
    padding: 40px;
    background-color: #0E101F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.audio-container {
    position: relative;
    margin-top: 100px;
    padding: 40px;
    background-color: #0E101F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.transcript-title {
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
}

.transcript-content {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: lowercase;
}

.copy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff; /* Ajusta el color según sea necesario */
}

