<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julio Toribio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" class="logo">
        <h1 class="titulo"><span class="lexend">Convierte</span> <br><span class="noto-serif">Contenido de <span class="italic">Youtube</span></span> <br><span class="lexend">a Texto!</span></h1>
        <p class="subtitulo">Ingresa el link de un video a continuación:</p>  
        <form method="POST" class="input-form">
            <div class="input-group">
                <input type="text" id="url" name="url" placeholder="Ej: https://www.youtube.com/watch?v=WCr4TlFUVH8" required>
                <button type="submit">
                    Obtener Texto
                    <span class="material-symbols-outlined">arrow_forward</span>
                </button>
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% if transcript %}
            <div class="transcript-container">
                <h2 class="transcript-title">Contenido del Video:</h2>
                <span class="material-symbols-outlined copy-icon" onclick="copyTranscript()">content_copy</span>
                <p class="transcript-content" id="transcript">{{ transcript }}</p>
            </div>
            {% if summary %}
            <div class="transcript-container-summary">
                <h2 class="transcript-title">Resumen del Video:</h2>
                <p class="transcript-content" id="summary">{{ summary }}</p>
            </div>
            {% if audio_file_path %}
            <div class="audio-container">
                <h2 class="audio-title">Audio Generado:</h2>
                <audio controls>
                    <source src="{{ url_for('static', filename='audio/generated_audio.mp3') }}" type="audio/mpeg">
                    Tu navegador no soporta la reproducción de audio.
                </audio>
            </div>
            {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <script>
        function copyTranscript() {
            const transcriptText = document.getElementById('transcript').innerText;
            navigator.clipboard.writeText(transcriptText).then(() => {
                alert('Texto copiada al portapapeles');
            }).catch(err => {
                console.error('Error al copiar el texto: ', err);
            });
        }
    </script>
    <p class="footer">Desarrollado por @julioindigital 2024</p>  
</body>
</html>
